<div class="card w-100 border-0">
    <div class="py-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <h2>
                    Add WO Batch
                </h2>
                <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                    <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                    <li class="text-black">/</li>
                    <li class="text-black">
                        Lab Management
                    </li>
                    <li class="text-black">/</li>
                    <li class="text-black">Add WO Batch</li>

                </ul>

            </div>
        </div>
    </div>
    
            <div class="row py-2">
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Code <sapn class="text-danger">*</sapn>
                    </p>
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Code" value="WOB-2025-0001">
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Name <sapn class="text-danger">*</sapn>
                    </p>
                    <div class="input-group">

                        <input id="dateMask" type="text" class="form-control" placeholder="Name" value="WOB-2025-0001">
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Priority  <sapn class="text-danger">*</sapn>
                    </p>
                    <select class="form-control select2">
                        <option label="Ahmed"></option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                </div>
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Technician  <sapn class="text-danger">*</sapn>
                    </p>
                    <select class="form-control select2">
                        <option label="Ahmed"></option>
                        <option>Mahmoud</option>
                        <option>Adel</option>
                        <option>Ali</option>
                    </select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Customer  <sapn class="text-danger">*</sapn>
                    </p>
                    <select class="form-control select2">
                        <option label="Ahmed"></option>
                        <option>Ali</option>
                        <option>Ahmed</option>
                        <option>Mohamed</option>
                    </select>
                </div>
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Project  <sapn class="text-danger">*</sapn>
                    </p>
                    <select class="form-control select2">
                        <option label="Ahmed"></option>
                        <option>Html</option>
                        <option>Css</option>
                        <option>Js</option>
                    </select>
                </div>
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Sales Order <sapn class="text-danger">*</sapn>
                    </p>
                    <select class="form-control select2">
                        <option label="Ahmed"></option>
                        <option>Ali</option>
                        <option>Ahmed</option>
                        <option>Mohamed</option>
                    </select>
                </div>
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Sample Type <sapn class="text-danger">*</sapn>
                    </p>
                    <select class="form-control select2">
                        <option label="Ahmed"></option>
                        <option>Mahmoud</option>
                        <option>Adel</option>
                        <option>Ali</option>
                    </select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Received Date
                        <sapn class="text-danger">*</sapn>
                    </p>
                    <input type="date" class="form-control valid" id="ReceiveDate" name="ReceiveDate" value="2025-11-24" aria-describedby="ReceiveDate-error" aria-invalid="false"><input name="__Invariant" type="hidden" value="ReceiveDate">
                    <span class="text-danger field-validation-valid" data-valmsg-for="ReceiveDate" data-valmsg-replace="true"></span>
                </div>

                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">
                        Start Date
                        <sapn class="text-danger">*</sapn>
                    </p>
                    <input type="date" class="form-control valid" id="ReceiveDate" name="ReceiveDate" value="2025-11-24" aria-describedby="ReceiveDate-error" aria-invalid="false"><input name="__Invariant" type="hidden" value="ReceiveDate">
                    <span class="text-danger field-validation-valid" data-valmsg-for="ReceiveDate" data-valmsg-replace="true"></span>
                </div>

                <div class="col-lg-3 col-12">
                    <p class="mg-b-10">End Date <sapn class="text-danger">*</sapn></p>
                    <input class="form-control" placeholder="MM/DD/YYYY" disabled="" type="text">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-12">
                    <label for="notes">Notes <sapn class="text-danger">*</sapn></label>
                    <textarea id="notes" rows="3" class="form-control" placeholder="Notes" style="height: 80px;"></textarea>
                </div>
            </div>
            <hr />
            <div class="modal-footer gap-3 d-flex justify-content-start">
                <button type="button" class="btn btn-indigo rounded-2">Save</button>
                <button type="button" class="btn btn-outline-light rounded-2" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i> Back</button>
            </div>
   
   
</div> 

    
    
