


        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2 class="m-0 p-0">
                        Add WO Batch
                    </h2>
                    <div class="d-flex gap-1">
                        <p>Home</p>
                        <p>/</p>
                        <p>
                            Lab Management
                        </p>
                        <p>/</p>
                        <p>
                    Add WO Batch
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
<div class="card-header py-3">
    <div class="card p-3">
        <div class="row py-2">
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">
                    Code <sapn class="text-danger">*</sapn>
                </p>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="dateMask" type="text" class="form-control" placeholder="MM/DD/YYYY">
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">
                    Name <sapn class="text-danger">*</sapn>
                </p>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input id="dateMask" type="text" class="form-control" placeholder="MM/DD/YYYY">
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">
                    Priority  <sapn class="text-danger">*</sapn>
                </p>
                <select class="form-control select2">
                    <option label="Ahmed"></option>
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                </select>
            </div>
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">
                    Technician  <sapn class="text-danger">*</sapn>
                </p>
                <select class="form-control select2">
                    <option label="Ahmed"></option>
                    <option>Mahmoud</option>
                    <option>Adel</option>
                    <option>Ali</option>
                </select>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">
                    Customer  <sapn class="text-danger">*</sapn>
                </p>
                <select class="form-control select2">
                    <option label="Ahmed"></option>
                    <option>Ali</option>
                    <option>Ahmed</option>
                    <option>Mohamed</option>
                </select>
            </div>
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">
                    Project  <sapn class="text-danger">*</sapn>
                </p>
                <select class="form-control select2">
                    <option label="Ahmed"></option>
                    <option>Html</option>
                    <option>Css</option>
                    <option>Js</option>
                </select>
            </div>
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">
                    Sales Order <sapn class="text-danger">*</sapn>
                </p>
                <select class="form-control select2">
                    <option label="Ahmed"></option>
                    <option>Ali</option>
                    <option>Ahmed</option>
                    <option>Mohamed</option>
                </select>
            </div>
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">
                    Sample Type <sapn class="text-danger">*</sapn>
                </p>
                <select class="form-control select2">
                    <option label="Ahmed"></option>
                    <option>Mahmoud</option>
                    <option>Adel</option>
                    <option>Ali</option>
                </select>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-3 col-12">
                <p class="mg-b-10">Delivery Date <sapn class="text-danger">*</sapn></p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" id="dp1763637359790">
                </div>
            </div>

            <div class="col-lg-3 col-12">
                <p class="mg-b-10">Start Date <sapn class="text-danger">*</sapn></p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control fc-datepicker hasDatepicker" placeholder="MM/DD/YYYY" id="dp1763637359791">
                </div>
            </div>

            <div class="col-lg-3 col-12">
                <p class="mg-b-10">End Date <sapn class="text-danger">*</sapn></p>
                <input class="form-control" placeholder="MM/DD/YYYY" disabled="" type="text">
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12">
                <label for="notes">Notes <sapn class="text-danger">*</sapn></label>
                <textarea id="notes" rows="3" class="form-control" placeholder="Notes" style="height: 80px;"></textarea>
            </div>
        </div>
        <hr />
        <div class="modal-footer gap-3 d-flex justify-content-start">
            <button type="button" class="btn btn-indigo rounded-2">Save</button>
            <button type="button" class="btn btn-outline-light rounded-2" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i> Back</button>
        </div>
    </div>
</div>
    
    
