
    <div class="card w-100 border-0 py-3">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2 class="m-0 p-0">
                        Result Reports
                    </h2>
                    <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                        <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                        <li class="text-black">/</li>
                        <li class="text-black">Lab Management</li>
                        <li class="text-black">/</li>
                        <li class="text-black"> Result Reports</li>
                    </ul>
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-primary btn-block btn-sm rounded-2" data-bs-toggle="modal" data-bs-target="#newSampleModal">
                        <i class="fas fa-plus px-1"></i>
                        Add New Report
                    </button>

                    <div class="modal fade" id="newSampleModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content modal-content-demo">
                                <div class="modal-header">
                                    <h6 class="modal-title">
                                        Add New Device
                                    </h6>`
                                </div>
                                <div class="modal-body">
                                    <div class="row py-2">
                                        <div class=" col-12">
                                            <p class="mg-b-10">
                                                Code <sapn class="text-danger">*</sapn>
                                            </p>
                                            <input class="form-control" placeholder="EQP-2025-0002" type="text">
                                        </div>
                                        
                                       

                                        <div class="col-lg-6 col-12 py-2">
                                            <p class="mg-b-10">
                                                Client <sapn class="text-danger">*</sapn>
                                            </p>
                                            <select class="form-control select2">
                                                <option label="Ahmed"></option>
                                                <option>Mahmoud</option>
                                                <option>Adel</option>
                                                <option>Ali</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-12 py-2">
                                            <p class="mg-b-10">
                                                Project  <sapn class="text-danger">*</sapn>
                                            </p>
                                            <select class="form-control select2">
                                                <option label="Ahmed"></option>
                                                <option>Mahmoud</option>
                                                <option>Adel</option>
                                                <option>Ali</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-12 py-2">
                                            <p class="mg-b-10">
                                                Sales Order <sapn class="text-danger">*</sapn>
                                            </p>
                                            <select class="form-control select2">
                                                <option label="Ahmed"></option>
                                                <option>Mahmoud</option>
                                                <option>Adel</option>
                                                <option>Ali</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-12 py-2">
                                            <p class="mg-b-10">
                                                Samples <sapn class="text-danger">*</sapn>
                                            </p>
                                            <input class="form-control" placeholder="EQP-2025-0002" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-start">
                                    <button type="button" class="btn btn-indigo"><i class="fa fa-save"></i> Save</button>
                                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-gray-700 btn-block btn-sm rounded-2">
                        <i class="fa fas fa-bolt"></i>
                        Reload
                    </button>
                    <button id="advancedFilterBtn" class="btn btn-success btn-block btn-sm rounded-2 text-white">
                        <i class="fa fas fa-filter"></i>
                        Advanced Filter
                    </button>
                </div>
            </div>
            <div class="col-12">
                <div class="card my-3">
                    <div id="filterRow" class="row p-3 d-none">
                        <div class="col-lg-4 col-12">
                            <p class="mg-b-10">Code</p>
                            <input class="form-control" placeholder="Code" type="text">
                        </div>
                        <div class="col-lg-8 col-12 d-flex align-items-end">
                            <button class="btn btn-info btn-block btn-sm rounded-2">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="table-responsive">
                            <table id="example2" class="text-center table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Customer</th>
                                        <th>Sales Order</th>
                                        <th>Project</th>
                                        <th>Created By</th>
                                        <th>Created On</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td> <!-- # -->
                                        <td>WO-221</td> <!-- Code -->
                                        <td>Water Quality Analysis</td> <!-- Customer -->
                                        <td>Physical & Chemical</td> <!-- Sales Order -->
                                        <td>High</td> <!-- Project -->
                                        <td>Ahmed Ali</td> <!-- Created By -->
                                        <td>2025-11-25</td> <!-- Created On -->
                                        <td></td> <!-- Notes -->
                                        <td></td> <!-- Progress -->
                                        <td></td> <!-- Team -->
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

@section Scripts {
    <script>

               $('#newSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#newSampleModal')
            });

            // Fix input mask
            $('#dateMask').mask('99/99/9999');
        });

         $('#secondSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#secondSampleModal')
            });

             // Fix input mask


             });
             const btn = document.getElementById('advancedFilterBtn');
        const filterRow = document.getElementById('filterRow');

        btn.addEventListener('click', function () {
            filterRow.classList.toggle('d-none');
        });




    </script>
}
