
    
        <div class="card w-100 py-3 border-0">
            <div class="p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column">
                        <h2>
                            Samples
                        </h2>
                        <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                            <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                            <li class="text-black">/</li>
                            <li class="text-black">
                                Lab Management
                            </li>
                            <li class="text-black">/</li>
                            <li class="text-black">
                                Samples
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex gap-2">
                        <button class="btn btn-primary btn-block btn-sm rounded-2" data-bs-toggle="modal" data-bs-target="#newSampleModal">
                            <i class="fas fa-plus px-1"></i>
                            Receive New Sample
                        </button>

                        <div class="modal fade" id="newSampleModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content modal-content-demo">
                                    <div class="modal-header">
                                        <h6 class="modal-title">
                                            Receive New Sample
                                        </h6>`

                                    </div>
                                    <div class="modal-body">
                                        <div class="row py-2">
                                            <div class="col-lg-6 col-12">
                                                <p class="mg-b-10">
                                                    Code <sapn class="text-danger">*</sapn>
                                                </p>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="SMP-2025-0001">
                                                </div>
                                                <div class="py-2">
                                                    <label for="notes">Description <sapn class="text-danger">*</sapn></label>
                                                    <textarea id="notes" rows="3" class="form-control" placeholder="Textarea" style="height: 50px;"></textarea>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-12">
                                                        <p class="mg-b-10">
                                                            Client <sapn class="text-danger">*</sapn>
                                                        </p>
                                                        <select class="form-control select2">
                                                            <option label="Ahmed"></option>
                                                            <option>Mahmoud</option>
                                                            <option>Adel</option>
                                                            <option>Ali</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <p class="mg-b-10">Sales Order <sapn class="text-danger">*</sapn></p>
                                                        <select class="form-control select2">
                                                            <option label="Order 1"></option>
                                                            <option>Order 2</option>
                                                            <option>Order 3</option>
                                                            <option>Order 4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row py-2">
                                                    <div class="col-lg-6 col-12">
                                                        <p class="mg-b-10">
                                                            Type  <sapn class="text-danger">*</sapn>
                                                        </p>
                                                        <select class="form-control select2">
                                                            <option label="Bootstrap"></option>
                                                            <option>Html</option>
                                                            <option>Css</option>
                                                            <option>Js</option>

                                                        </select>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <p class="mg-b-10">Sample Status on Receipt <sapn class="text-danger">*</sapn></p>
                                                        <select class="form-control select2">
                                                            <option label="one"></option>
                                                            <option>Two</option>
                                                            <option>Thre</option>
                                                            <option>For</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row py-2">
                                                    <div class="col-lg-6 col-12">
                                                        <p class="mg-b-10">
                                                            Received Date
                                                            <sapn class="text-danger">*</sapn>
                                                        </p>
                                                        <input type="date" class="form-control valid" id="ReceiveDate" name="ReceiveDate" value="2025-11-24" aria-describedby="ReceiveDate-error" aria-invalid="false"><input name="__Invariant" type="hidden" value="ReceiveDate">
                                                        <span class="text-danger field-validation-valid" data-valmsg-for="ReceiveDate" data-valmsg-replace="true"></span>
                                                    </div>

                                                    <div class="col-lg-6 col-12">
                                                        <p class="mg-b-10">
                                                            Date Of Sampling
                                                            <sapn class="text-danger">*</sapn>
                                                        </p>
                                                        <input type="date" class="form-control valid" id="ReceiveDate" name="ReceiveDate" value="2025-11-24" aria-describedby="ReceiveDate-error" aria-invalid="false"><input name="__Invariant" type="hidden" value="ReceiveDate">
                                                        <span class="text-danger field-validation-valid" data-valmsg-for="ReceiveDate" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="row py-2">
                                                    <div class="col-12">
                                                        <p class="mg-b-10">ReceiveBy <sapn class="text-danger">*</sapn></p>
                                                        <select class="form-control select2">
                                                            <option label="one"></option>
                                                            <option>Mohamed ali</option>
                                                            <option>Adel Orabi</option>
                                                            <option>Ahmed Alaa</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row py-2">
                                                    <div class="col-12">
                                                        <label for="notes">Notes <sapn class="text-danger">*</sapn></label>
                                                        <textarea id="notes" rows="3" class="form-control" placeholder="Notes" style="height: 80px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <div class="card p-2">
                                                    <div class="d-flex gap-1">
                                                        <p>Client</p>
                                                        <p>/</p>
                                                        <p>Project</p>
                                                        <p>/</p>
                                                        <p>Site</p>
                                                    </div>
                                                    <hr />
                                                    <div class="col-12 py-2">
                                                        <p class="mg-b-10">
                                                            Sampler
                                                        </p>
                                                        <input class="form-control" placeholder="Sampler" type="text">
                                                    </div>
                                                    <div class="col-12 py-2">
                                                        <p class="mg-b-10">
                                                            Project
                                                        </p>
                                                        <input class="form-control" placeholder="Project" type="text">
                                                    </div>
                                                    <div class="col-12 py-2">
                                                        <p class="mg-b-10">
                                                            Site
                                                        </p>
                                                        <input class="form-control" placeholder="Site" type="text">
                                                    </div>
                                                    <div class="col-12 py-2">
                                                        <p class="mg-b-10">
                                                            Location
                                                        </p>
                                                        <input class="form-control" placeholder="Location" type="text">
                                                    </div>
                                                    <div class="col-12 py-2">
                                                        <p class="mg-b-10">
                                                            Matrix
                                                        </p>
                                                        <select class="form-control select2">
                                                            <option label="Ahmed"></option>
                                                            <option>Mahmoud</option>
                                                            <option>Adel</option>
                                                            <option>Ali</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 py-2">
                                                        <p class="mg-b-10">
                                                            SubMatrix
                                                        </p>
                                                        <select class="form-control select2">
                                                            <option label="Ahmed"></option>
                                                            <option>Mahmoud</option>
                                                            <option>Adel</option>
                                                            <option>Ali</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 py-2">
                                                        <p class="mg-b-10">
                                                            Sign
                                                        </p>
                                                        <input class="form-control" placeholder="Sign" type="text">
                                                    </div>
                                                    <div class="col-12 py-2">
                                                        <p class="mg-b-10">
                                                            HoldingTime
                                                        </p>
                                                        <input class="form-control" type="number">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-start">
                                        <button type="button" class="btn btn-indigo"><i class="fa fa-save"></i> Save </button>
                                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <button class="btn btn-secondary btn-sm text-white rounded-2" data-bs-toggle="modal" data-bs-target="#secondSampleModal">
                            <i class="fas fa-plus px-1"></i> ReceiveMultiSample
                        </button>

                        <div class="modal fade" id="secondSampleModal" tabindex="-1">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            ReceiveMultiSample
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row py-2">
                                            <div class="col-lg-6 col-12">
                                                <p class="mg-b-10">
                                                    Type  <sapn class="text-danger">*</sapn>
                                                </p>
                                                <select class="form-control select2">
                                                    <option label="Bootstrap"></option>
                                                    <option>Html</option>
                                                    <option>Css</option>
                                                    <option>Js</option>

                                                </select>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <p class="mg-b-10">Sample Status on Receipt <sapn class="text-danger">*</sapn></p>
                                                <select class="form-control select2">
                                                    <option label="one"></option>
                                                    <option>Two</option>
                                                    <option>Thre</option>
                                                    <option>For</option>
                                                </select>
                                            </div>
                                            <div class="col-12 py-3">
                                                <table class="table py-3 mg-b-0">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Description</th>
                                                            <th>Sample Type</th>
                                                            <th>Total</th>
                                                            <th>Received</th>
                                                            <th>Count</th>
                                                            <th>Matrix</th>
                                                            <th>Sub Matrix</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Drinking Water – Chlorine Test</td>
                                                            <td>Water</td>
                                                            <td>15</td>
                                                            <td>12</td>
                                                            <td>3</td>
                                                            <td>Water</td>
                                                            <td>Potable</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-12">
                                                <p class="mg-b-10">
                                                    Sample Status on Receipt
                                                </p>
                                                <select class="form-control select2">
                                                    <option label="Bootstrap"></option>
                                                    <option>Fresh</option>
                                                    <option>Css</option>
                                                    <option>Js</option>

                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <p class="mg-b-10">
                                                    Received Date
                                                    <sapn class="text-danger">*</sapn>
                                                </p>
                                                <input type="date" class="form-control valid" id="ReceiveDate" name="ReceiveDate" value="2025-11-24" aria-describedby="ReceiveDate-error" aria-invalid="false"><input name="__Invariant" type="hidden" value="ReceiveDate">
                                                <span class="text-danger field-validation-valid" data-valmsg-for="ReceiveDate" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <p class="mg-b-10">
                                                    Received Date
                                                    <sapn class="text-danger">*</sapn>
                                                </p>
                                                <input type="date" class="form-control valid" id="ReceiveDate" name="ReceiveDate" value="2025-11-24" aria-describedby="ReceiveDate-error" aria-invalid="false"><input name="__Invariant" type="hidden" value="ReceiveDate">
                                                <span class="text-danger field-validation-valid" data-valmsg-for="ReceiveDate" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="col-12 py-3">
                                                <p class="mg-b-10">
                                                    Date Of Sampling
                                                </p>
                                                <select class="form-control select2">
                                                    <option label="Bootstrap"></option>
                                                    <option>Ahmed ali</option>
                                                    <option>Adel Orabi</option>
                                                    <option>Mahmoud Alaa</option>

                                                </select>
                                            </div>
                                            <div class="col-12 py-3">
                                                <p class="mg-b-10">
                                                    Nots
                                                </p>
                                                <textarea id="notes" rows="3" class="form-control" placeholder="Notes" style="height: 80px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="d-flex gap-1 py-3 bg-indigo text-center rounded-2">
                                                <p class="text-white m-0 p-0">Client</p>
                                                <p class="text-white m-0 p-0">/</p>
                                                <p class="text-white m-0 p-0">Project</p>
                                                <p class="text-white m-0 p-0">/</p>
                                                <p class="text-white m-0 p-0">Site</p>
                                            </div>
                                            <div class="col-lg-4 col-12 py-2">
                                                <p class="mg-b-10">
                                                    Sampler
                                                </p>
                                                <input class="form-control" placeholder="Sampler" type="text">
                                            </div>
                                            <div class="col-lg-4 col-12 py-2">
                                                <p class="mg-b-10">
                                                    Project
                                                </p>
                                                <input class="form-control" placeholder="Project" type="text">
                                            </div>
                                            <div class="col-lg-4 col-12 py-2">
                                                <p class="mg-b-10">
                                                    Site
                                                </p>
                                                <input class="form-control" placeholder="Site" type="text">
                                            </div>

                                            <div class="col-lg-4 col-12 py-2">
                                                <p class="mg-b-10">
                                                    Location
                                                </p>
                                                <input class="form-control" placeholder="Location" type="text">
                                            </div>
                                            <div class="col-lg-4 col-12 py-2">
                                                <p class="mg-b-10">
                                                    Sign
                                                </p>
                                                <input class="form-control" placeholder="Sign" type="text">
                                            </div>
                                            <div class="col-lg-4 col-12 py-2">
                                                <p class="mg-b-10">
                                                    HoldingTime
                                                </p>
                                                <input class="form-control" placeholder="HoldingTime" type="number">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer d-flex justify-content-start">
                                        <button type="button" class="btn btn-indigo">Save</button>
                                        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <button class="btn btn-success btn-block btn-sm rounded-2">
                            <i class="fas fa-cogs px-1"></i>
                            Create Report
                        </button>
                        <button class="btn btn-gray-700 btn-block btn-sm rounded-2">
                            <i class="fa fas fa-bolt"></i>
                            Reload
                        </button>
                    </div>
                </div>
                <div class="py-5">
                    <div class="card bd-0">
                        <div class="card-header bg-gray-400 bd-b-0-f pd-b-0">
                            <nav class="nav nav-tabs">
                                <a class="nav-link active" data-bs-toggle="tab" href="#tabCont1">Samples</a>
                                @* <a class="nav-link" data-bs-toggle="tab" href="#tabCont2">Qc Samples</a> *@
                                @* <a class="nav-link" data-bs-toggle="tab" href="#tabCont3">Samples Types</a> *@
                                <a asp-controller="LabManagement" asp-action="Qcsample" class="nav-link">Qc Sample</a>
                                <a asp-controller="LabManagement" asp-action="sampletypes" class="nav-link">Sample Types</a>
                                <a asp-controller="LabManagement" asp-action="SampleTypeMatrices" class="nav-link">Sample Type Matrices</a>
                            </nav>
                        </div><!-- card-header -->
                        <div class="card-body bd bd-t-0 tab-content">
                            <div id="tabCont1" class="tab-pane active show">
                                <div class="row">
                                    <div class="col-12 col-lg-2">
                                        <p class="mg-b-10">Code</p>
                                        <input class="form-control" placeholder="Code" type="text">
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <p class="mg-b-10">Customers</p>
                                        <select class="form-control select2">
                                            <option label="Ahmed"></option>
                                            <option>Mahmoud</option>
                                            <option>Adel</option>
                                            <option>Ali</option>
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <p class="mg-b-10">Sales Orders</p>
                                        <select class="form-control select2">
                                            <option label="Ahmed"></option>
                                            <option>Mahmoud</option>
                                            <option>Adel</option>
                                            <option>Ali</option>
                                        </select>
                                    </div>

                                    <div class="col-12 col-lg-2 d-flex align-items-end">
                                        <button class="btn btn-info btn-block rounded-2">
                                            <i class="fas fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    @*         <div class="col-lg-2 col-12">
                                            <p class="mg-b-10">
                                                Code
                                            </p>
                                            <input class="form-control" placeholder="Code" type="text">
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <p class="mg-b-10">
                                                Customers
                                            </p>
                                            <select class="form-control select2">
                                                <option label="Ahmed"></option>
                                                <option>Mahmoud</option>
                                                <option>Adel</option>
                                                <option>Ali</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <p class="mg-b-10">
                                                Sales Orders
                                            </p>
                                            <select class="form-control select2">
                                                <option label="Ahmed"></option>
                                                <option>Mahmoud</option>
                                                <option>Adel</option>
                                                <option>Ali</option>
                                            </select>
                                        </div>
                                <div class="col-lg-2 col-12 d-flex align-items-end">
                                    <button class="btn btn-info btn-block rounded-2"><i class="fas fa-search"></i> Search</button>
                                </div> *@
                                    <div class="col-12">
                                        <div class="card my-3">
                                            <div class="p-3">
                                                <div class="table-responsive">
                                                    <table id="example2" class="text-center table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th><input type="checkbox" id="selectAll"></th>
                                                                <th>#</th>
                                                                <th>Code</th>
                                                                <th>Name</th>
                                                                <th>Type</th>
                                                                <th>Client</th>
                                                                <th>Sales Order</th>
                                                                <th>Status</th>
                                                                <th>Sup Work Orders Count</th>
                                                                <th>Received By</th>
                                                                <th>Received Date</th>
                                                                <th>Notes</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td><input type="checkbox"></td>
                                                                <td>1</td>
                                                                <td>WO-115</td>
                                                                <td>Maintenance Request</td>
                                                                <td>Technical</td>
                                                                <td>Ahmed Ali</td>
                                                                <td>SO-2025</td>
                                                                <td><span class="badge badge-danger">Pending</span></td>
                                                                <td>3</td>
                                                                <td>Mohamed</td>
                                                                <td>2025-11-10</td>
                                                                <td>Waiting for approval</td>
                                                            </tr>




                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- tab-pane -->
                            <div id="tabCont2" class="tab-pane">
                                <div class="col-12">
                                    <div class="card my-3">
                                        <div class="p-3">
                                            <div class="table-responsive">
                                                <table id="example2" class="text-center table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Code</th>
                                                            <th>Name</th>
                                                            <th>Type</th>
                                                            <th>Add By</th>
                                                            <th>Received Date</th>
                                                            <th>Notes</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>WO-115</td>
                                                            <td>Maintenance Request</td>
                                                            <td>Technical</td>
                                                            <td>Ahmed Ali</td>
                                                            <td>2025-11-10</td>
                                                            <td><span class="badge badge-danger">Pending</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div><!-- card-body -->
                    </div><!-- card -->
                </div>


            </div>
        </div>

   

 @section Scripts {
     <script>
                 // Global init
        $('.select2').select2({
            placeholder: 'Choose one'
        });
            $('#dateMask').mask('99/99/9999');

        // Modal 1
        $('#newSampleModal').on('shown.bs.modal', function () {
            $(this).find('.select2').select2({
            placeholder: 'Choose one',

                dropdownParent: $('#newSampleModal')
            });
        });

        // Modal 2
        $('#secondSampleModal').on('shown.bs.modal', function () {
            $(this).find('.select2').select2({
            placeholder: 'Choose one',

                dropdownParent: $('#secondSampleModal')
            });
        });

              
            
    </script>
 }                     