<div class="card-header py-3">
    <div class="card py-3">
        <div class="p-3">

            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2 class="m-0 p-0">
                        Samples
                    </h2>
                    <div class="d-flex gap-1">
                        <p>Home</p>
                        <p>/</p>
                        <p>
                            Lab Management
                        </p>
                        <p>/</p>
                        <p>
                            Samples
                        </p>
                    </div>
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-primary btn-block rounded-2" data-bs-toggle="modal" data-bs-target="#newSampleModal">
                        <i class="fas fa-plus px-1"></i>
                        AddNewSampleType
                    </button>

                    <div class="modal fade" id="newSampleModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content modal-content-demo">
                                <div class="modal-header">
                                    <h6 class="modal-title">
                                        Add New Sample
                                    </h6>

                                </div>
                                <div class="modal-body">
                                    <div class="row py-2">
                                        <div class="col-12">
                                            <p class="mg-b-10">
                                                Code <sapn class="text-danger">*</sapn>
                                            </p>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input class="form-control" placeholder="SMPT-2025-0002" type="text">
                                            </div>
                                            <p class="mg-b-10 py-2">
                                                Name <sapn class="text-danger">*</sapn>
                                            </p>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                </div>
                                                <input class="form-control" placeholder="Name" type="text">
                                            </div>
                                            <div class="py-2">
                                                <label for="notes">Description <sapn class="text-danger">*</sapn></label>
                                                <textarea id="notes" rows="3" class="form-control" placeholder="Textarea" style="height: 90px;"></textarea>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-start">
                                    <button type="button" class="btn btn-indigo"><i class="fa fa-save"></i> Save</button>
                                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <button class="btn btn-gray-700 btn-block rounded-2">
                        <i class="fa fas fa-bolt"></i>
                        Reload
                    </button>
                    <li class="nav-sub-item btn btn-success btn-block rounded-2">
                        <a asp-controller="LabManagement" asp-action="AdvancedFilter" class="nav-sub-link text-black">
                            <i class="fa fas fa-filter"></i>
                            Advanced Filter
                        </a>
                    </li>
                </div>
            </div>

            <div class="py-5">
                <div class="card bd-0">
                    <div class="card-header bg-gray-400 bd-b-0-f pd-b-0">
                        <nav class="nav nav-tabs">
                            <a asp-controller="LabManagement" asp-action="Samples" class="nav-link">Samples</a>
                            @* <a class="nav-link" data-bs-toggle="tab" href="#tabCont1">Samples</a> *@
                            <a class="nav-link" data-bs-toggle="tab" href="#tabCont2">Qc Samples</a>
                            @* <a class="nav-link" data-bs-toggle="tab" href="#tabCont3">Samples Types</a> *@

                            <a asp-controller="LabManagement" asp-action="sampletypes" class="nav-link">Sample Types</a>
                            <a asp-controller="LabManagement" asp-action="SampleTypeMatrices" class="nav-link active">Sample Type Matrices</a>
                            @* <a class="nav-link" data-bs-toggle="tab" href="#tabCont4">Sample Type Matrices</a> *@
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body bd bd-t-0 tab-content">
                       

                            <div class="row">
                                <div class="col-12">
                                    <div class="card my-3">
                                        <div class="p-3">
                                            <div class="table-responsive">
                                            <table id="example2" class="text-center table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Code</th>
                                                        <th>Name</th>
                                                        <th>ParentMatrix</th>
                                                        <th>Sample Type</th>
                                                        <th>Created By</th>
                                                        <th>Created On</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>ST-115</td>
                                                        <td>Water Sample</td>
                                                        <td>Water</td>
                                                        <td>Chemical</td>
                                                        <td>Ahmed Ali</td>
                                                        <td>2025-01-10</td>
                                                        <td><span class="badge bg-danger">Pending</span> - Waiting for approval</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- tab-pane --> 
                        
                    </div><!-- card-body -->
                </div><!-- card -->
            </div>

        </div>
    </div>
</div>


