<div class="card-header py-3">
    <div class="card py-3">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2>
                        Test Types
                    </h2>
                    <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                        <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                        <li class="text-black">/</li>
                        <li class="text-black">Lab Management</li>
                        <li class="text-black">/</li>
                        <li class="text-black"> Test Types</li>
                    </ul>
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-primary btn-block btn-sm rounded-2" data-bs-toggle="modal" data-bs-target="#newSampleModal">
                        <i class="fas fa-plus px-1"></i>
                        Add New Test Type
                    </button>

                    <div class="modal fade" id="newSampleModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content modal-content-demo">
                                <div class="modal-header">
                                    <h6 class="modal-title">
                                        Add New Test Type
                                    </h6>`

                                </div>
                                <div class="modal-body">
                                    <div class="row py-2">
                                        <div class="col-lg-6 col-12">
                                            <div class="col-12 py-2">
                                                <p class="mg-b-10">
                                                    Code <sapn class="text-danger">*</sapn>
                                                </p>
                                                <input class="form-control" placeholder="TSTC-2025-0001" type="text">
                                            </div>
                                            <div class="col-12 py-2">
                                                <p class="mg-b-10">
                                                    Name <sapn class="text-danger">*</sapn>
                                                </p>
                                                <input class="form-control" placeholder="Name" type="text">
                                            </div>
                                           
                                            <div class="row py-2">
                                                <div class="col-12">
                                                    <label for="notes">Notes <sapn class="text-danger">*</sapn></label>
                                                    <textarea id="notes" rows="3" class="form-control" placeholder="Notes" style="height: 80px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="card p-2">
                                               <div class="card-header bg-transparent">
                                                    Container Config
                                               </div>
                                                <hr />
                                                <div class="col-12 py-2">
                                                    <p class="mg-b-10">
                                                        Container Type <span class="text-danger">*</span>
                                                    </p>
                                                    <select class="form-control select2">
                                                        <option label="Ahmed"></option>
                                                        <option>Mahmoud</option>
                                                        <option>Adel</option>
                                                        <option>Ali</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 py-2">
                                                    <p class="mg-b-10 py-2">
                                                        Container Condition <span class="text-danger">*</span>
                                                    </p>
                                                    <label class="ckbox ">
                                                        <input name="checkbox" type="checkbox">
                                                        <span>Sample Condition #1</span>
                                                    </label>
                                                </div>
                                                <div class="col-12 py-2">
                                                    <p class="mg-b-10 py-2">
                                                        Immediate Tests <span class="text-danger">*</span>
                                                    </p>
                                                    <label class="ckbox ">
                                                        <input name="checkbox" type="checkbox">
                                                        <span>Immediate Tests #1</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-start">
                                    <button type="button" class="btn btn-indigo"><i class="fas fa-save"></i> Save</button>
                                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"><i class="fas fa-ban"></i> Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-gray-700 btn-block btn-sm rounded-2">
                        <i class="fa fas fa-bolt"></i>
                        Reload
                    </button>

                    <button id="advancedFilterBtn" class="btn btn-success btn-block btn-sm rounded-2 text-white">
                        <i class="fa fas fa-filter"></i>
                        Advanced Filter
                    </button>
                   
                </div>
            </div>
            <div class="py-5">
                <div class="card bd-0">
                    <div class="card-header bg-gray-400 bd-b-0-f pd-b-0">
                        <nav class="nav nav-tabs">
                            <a class="nav-link active" data-bs-toggle="tab" href="#tabCont1">Test Types</a>
                            @* <a class="nav-link" data-bs-toggle="tab" href="#tabCont2">Parameters</a> *@
                            <a asp-controller="LabManagement" asp-action="Parameters" class="nav-link">Parameters</a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body bd bd-t-0 tab-content">
                        <div id="tabCont1" class="tab-pane active show">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card my-3">
                                        <div id="filterRow" class="row p-3 d-none">
                                            <div class="col-lg-4 col-12">
                                                <p class="mg-b-10">Code</p>
                                                <input class="form-control" placeholder="Code" type="text">
                                            </div>
                                            <div class="col-lg-8 col-12 d-flex align-items-end">
                                                <button class="btn btn-info btn-block btn-sm rounded-2">
                                                    <i class="fas fa-search"></i> Search
                                                </button>
                                            </div>
                                        </div>
                                        <div class="p-3">
                                            <div class="table-responsive">
                                                <table id="example2" class="text-center table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" id="selectAll"></th>
                                                            <th>#</th>
                                                            <th>Code</th>
                                                            <th>Category</th>
                                                            <th>Parameters</th>
                                                            <th>Added By</th>
                                                            <th>Added Date</th>
                                                            <th>Status</th>
                                                            <th>Notes</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>1</td>
                                                            <td>WO-342</td>
                                                            <td>Water Quality</td>
                                                            <td>pH, TDS, Turbidity</td>
                                                            <td>Mohamed Ali</td>
                                                            <td>2025-11-20</td>
                                                            <td><span class="badge badge-warning">In Progress</span></td>
                                                            <td>Sampling completed, testing in progress</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- tab-pane -->
                        <div id="tabCont2" class="tab-pane">
                            <div class="col-12">
                                <div class="card my-3">
                                    
                                    <div class="p-3">
                                        <div class="table-responsive">
                                            <table id="example2" class="text-center table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Code</th>
                                                        <th>Parameter Name</th>
                                                        <th>Test Type</th>
                                                        <th>Test Unit</th>
                                                        <th>Test Method</th>
                                                        <th>LOD</th>
                                                        <th>Used Equipment</th>
                                                        <th>Duration</th>
                                                        <th>Price</th>
                                                        <th>Price After Discount</th>
                                                        <th>Added By</th>
                                                        <th>Added Date</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>TP-204</td>
                                                        <td>pH Level</td>
                                                        <td>Chemical</td>
                                                        <td>pH</td>
                                                        <td>APHA 4500-H+</td>
                                                        <td>0.1</td>
                                                        <td>pH Meter</td>
                                                        <td>15 min</td>
                                                        <td>150 EGP</td>
                                                        <td>120 EGP</td>
                                                        <td>Mohamed Ali</td>
                                                        <td>2025-11-20</td>
                                                        <td>Routine water quality test</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div><!-- card-body -->
                </div><!-- card -->
            </div>


        </div>
    </div>
</div>

      @section Scripts {
     <script>

               $('#newSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#newSampleModal')
            });

            // Fix input mask
            $('#dateMask').mask('99/99/9999');
        });

         $('#secondSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#secondSampleModal')
            });

             // Fix input mask


             });

             const btn = document.getElementById('advancedFilterBtn');
        const filterRow = document.getElementById('filterRow');

        btn.addEventListener('click', function () {
            filterRow.classList.toggle('d-none');
        });
            
            
            
    </script>
    }