<div class="card-header w-100 py-3">
    <div class="card w-100 border-0 py-3">
        <div class="p-3">
            <div class="d-flex flex-column">
                <h2>
                    Treasuries - Bank Accounts
                </h2>
                <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                    <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                    <li class="text-black">/</li>
                    <li class="text-black">
                        Treasuries - Bank Accounts
                    </li>
                    <li class="text-black">/</li>
                    <li class="text-black">
                        Add Treasury
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-6 col-12 px-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="py-2">
                        Basic Data
                    </h2>
                </div>
                <div class="card-body">
                    <div class="row py-2 align-items-center">
                        <p class="mg-b-0 me-2">Status</p>
                        <div class="col-lg-3 col-12 d-flex align-items-center">
                            
                            <label class="rdiobox me-2">
                                <input name="rdio" type="radio">
                                <span>Active</span>
                            </label>
                           
                        </div>
                        <div class="col-lg-3 col-12 d-flex align-items-center">
                            <label class="rdiobox">
                                <input name="rdio" type="radio" checked>
                                <span>Inactive</span>
                            </label>
                        </div>
                        <div class="col-lg-6 col-12">
                            <p class="mg-b-0 me-2">Treasury Name <sapn class="text-danger">*</sapn></p>
                            <input class="form-control" placeholder="Code" value="" type="text">
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-lg-6 col-12">
                            <div class="card-body">

                                <label for="notes">Description <sapn class="text-danger">*</sapn></label>
                                <textarea id="notes" rows="3" class="form-control" placeholder="Textarea" style="height: 120px;"></textarea>

                            </div>
                        </div>
                      

                    </div>
                   
                   
                </div>
            </div>
        </div>
        
    </div>
    <div class="p-2">
        <div class="card">
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-success text-white">
                    <i class="fas fa-save"></i> <span class="px-1">Save</span>
                </button>
                <button class="btn btn-sm btn-outline-danger mx-2 ">
                    <i class="fas fa-ban"></i> <span class="px-1">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
               document.addEventListener('DOMContentLoaded', function() {
            const checkbox = document.getElementById('recurringCheckbox');
            const recurringRow = document.getElementById('recurringPeriodRow');

            checkbox.addEventListener('change', function () {
                if (checkbox.checked) {
                    recurringRow.classList.remove('d-none');
                } else {
                    recurringRow.classList.add('d-none');
                }
            });
        });

    </script>
}









