
    <div class="card w-100 border-0 py-3">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2>
                        Finance Settings
                    </h2>

                    <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                        <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                        <li class="text-black">/</li>
                        <li class="text-black">
                            Finance Settings
                        </li>
                    </ul>
                </div>
               
            </div>
            <div class="py-5">
                <div class="card bd-0">
                    <div class="card-header bg-indigo bd-b-0-f pd-b-0">
                        <nav class="nav nav-tabs">
                            <a class="nav-link active" data-bs-toggle="tab" href="#tabCont1">General Settings</a>
                            @* <a class="nav-link" data-bs-toggle="tab" href="#tabCont2">Maintenance Requests</a> *@
                            <a asp-controller="Finance" asp-action="ExpensesCategories" class="nav-link">Expenses Categories</a>
                            <a asp-controller="Finance" asp-action="IncomeCategories" class="nav-link">Income Categories</a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body bd bd-t-0 tab-content">
                        <div id="tabCont1" class="tab-pane active show">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card my-3">

                                        <div class="p-3">
                                            <div class="table-responsive">
                                                <table id="example2" class="text-center table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Status</th>
                                                            <th>Created On</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td><input type="checkbox"></td> <!-- # -->
                                                            <td>WO-342</td> <!-- Name / Code -->
                                                            <td>Water Quality Analysis Device</td> <!-- Description -->
                                                            <td><span class="badge badge-warning">In Progress</span></td> <!-- Status -->
                                                            <td>2025-11-25</td> <!-- Created On -->
                                                            <td>
                                                                <button class="btn btn-az-primary btn-sm rounded-2">
                                                                    <i class="fas fa-edit"></i> Edit
                                                                </button>
                                                                <button class="btn btn-danger btn-sm rounded-2">
                                                                    <i class="fas fa-trash-alt"></i> Delete
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- tab-pane -->
                        <div id="tabCont2" class="tab-pane">
                            <div class="col-12">
                                <div class="card my-3">
                                    <div class="p-3">
                                        <div class="table-responsive">
                                            <table id="example2" class="text-center table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Description</th>
                                                        <th>Device Name</th>
                                                        <th>Model</th>
                                                        <th>Brand</th>
                                                        <th>Status</th>
                                                        <th>Added By</th>
                                                        <th>Added Date</th>
                                                        <th>Price</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>1</td> <!-- # -->
                                                        <td>TP-204</td> <!-- Description -->
                                                        <td>pH Level</td> <!-- Device Name -->
                                                        <td>Chemical</td> <!-- Model -->
                                                        <td>pH</td> <!-- Brand -->
                                                        <td>APHA 4500-H+</td> <!-- Status -->
                                                        <td>Mohamed Ali</td> <!-- Added By -->
                                                        <td>2025-11-20</td> <!-- Added Date -->
                                                        <td>150 EGP</td> <!-- Price -->
                                                        <td>Routine water quality test</td> <!-- Notes -->
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- card-body -->
                </div><!-- card -->
            </div>


        </div>
    </div>



@section Scripts {
    <script>

               $('#newSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#newSampleModal')
            });

            // Fix input mask
            $('#dateMask').mask('99/99/9999');
        });

         $('#secondSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#secondSampleModal')
            });

             // Fix input mask
             });
              const btn = document.getElementById('advancedFilterBtn');
        const filterRow = document.getElementById('filterRow');

        btn.addEventListener('click', function () {
            filterRow.classList.toggle('d-none');
        });
    </script>
}


