
    <div class="card w-100 border-0 py-3">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2>
                        Finance Settings
                    </h2>

                    <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                        <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                        <li class="text-black">/</li>
                        <li class="text-black">
                            Income Categories
                        </li>
                    </ul>
                </div>
                <div class="d-flex gap-2">

                    <button type="button" class="btn btn-primary btn-block btn-sm rounded-2" data-bs-toggle="modal" data-bs-target="#addFinanceModal">
                        <i class="fas fa-plus px-1"></i> Add Finance
                    </button>

                    <!--modal-->
                    <div class="modal fade" id="addFinanceModal" tabindex="-1" aria-labelledby="addFinanceModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addFinanceModalLabel">
                                        AddIncomeCategory

                                    </h5>

                                </div>
                                <div class="modal-body">


                                    <div class="mb-3">
                                        <label for="financeName" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="financeName" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <div class="col-12">
                                            <label for="notes">Notes <sapn class="text-danger">*</sapn></label>
                                            <textarea id="notes" rows="3" class="form-control" placeholder="Notes" style="height: 80px;"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer justify-content-start">
                                    <button type="button" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--modal-->

                </div>
            </div>
            <div class="py-5">
                <div class="card bd-0">
                    <div class="card-header bg-gray-400 bd-b-0-f pd-b-0">
                        <nav class="nav nav-tabs">

                            @* <a class="nav-link" data-bs-toggle="tab" href="#tabCont2">Maintenance Requests</a> *@
                            <a asp-controller="Finance" asp-action="FinanceSettings" class="nav-link">General Settings</a>
                            <a asp-controller="Finance" asp-action="ExpensesCategories" class="nav-link ">Expenses Categories</a>
                            <a asp-controller="Finance" asp-action="IncomeCategories" class="nav-link active">Income Categories</a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body bd bd-t-0 tab-content">
                        <div id="tabCont1" class="tab-pane active show">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card my-3">

                                        <div class="p-3">
                                            <div class="table-responsive">
                                                <table id="example2" class="text-center table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name / Code</th>
                                                            <th>Description</th>
                                                            <th>&nbsp;</th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>WO-342</td>
                                                            <td>Water Quality Analysis Device - pH, TDS, Turbidity</td>

                                                            <td>
                                                                <button class="btn btn-az-primary btn-sm rounded-2">
                                                                    <i class="fas fa-edit"></i> Edit
                                                                </button>
                                                                <button class="btn btn-danger btn-sm rounded-2">
                                                                    <i class="fas fa-trash-alt"></i> Delete
                                                                </button>
                                                            </td>
                                                            <td></td>
                                                        </tr>

                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- tab-pane -->

                    </div><!-- card-body -->
                </div><!-- card -->
            </div>


        </div>
    </div>



@section Scripts {
    <script>

               $('#newSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#newSampleModal')
            });

            // Fix input mask
            $('#dateMask').mask('99/99/9999');
        });

         $('#secondSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#secondSampleModal')
            });

             // Fix input mask
             });
              const btn = document.getElementById('advancedFilterBtn');
        const filterRow = document.getElementById('filterRow');

        btn.addEventListener('click', function () {
            filterRow.classList.toggle('d-none');
        });
    </script>
}



