<div class="card w-100 border-0 py-3">
   
        <div class="p-3">
            <div class="d-flex flex-column">
                <h2>
                    Customers Management
                </h2>
                <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                    <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                    <li class="text-black">/</li>
                    <li class="text-black">Sales</li>
                    <li class="text-black">/</li>
                    <li class="text-black">
                        Customers Management
                    </li>
                    <li class="text-black">/</li>
                    <li class="text-black">
                        Add or Edit
                    </li>
                </ul>
            </div>
        </div>

    <div class="row py-3">
        <div class="col-lg-6 col-12 px-4">
            <div class="card w-100">
                <div class="card-header">
                    Client Data
                </div>
                <div class="card-body">
                    <div class="row mg-t-10">
                        <div class="col-12">
                            <label class="py-3">
                                Client Type
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="col-lg-4 col-6">
                            <label class="rdiobox">
                                <input name="clientType" type="radio">
                                <span>Individual</span>
                            </label>
                        </div>

                        <div class="col-lg-8 col-6">
                            <label class="rdiobox">
                                <input name="clientType" type="radio">
                                <span>Commercial</span>
                            </label>
                        </div>

                    </div>
                    <div class="row py-2">
                        <div class="col-12">
                            <p class="mg-b-10">
                               Code <span class="text-danger">*</span>
                            </p>
                            <input class="form-control" placeholder="Cstmr-2025-0001" type="text">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12">
                            <p class="mg-b-10">
                                Full Name <span class="text-danger">*</span>
                            </p>
                            <input class="form-control" placeholder="Full Name" type="text">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12">
                            <p class="mg-b-10">
                                ContactPersonName
                            </p>
                            <input class="form-control" placeholder="ContactPersonName" type="text">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-lg-6">
                            <p class="mg-b-10">
                                Mobile <sapn class="text-danger">*</sapn>
                            </p>
                            <input class="form-control" placeholder="0512345678" type="text">
                        </div>
                        <div class="col-lg-6">
                            <p class="mg-b-10">
                                Email
                            </p>
                            <input class="form-control" placeholder="" type="email">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-lg-6">
                            <p class="mg-b-10">
                                CommercialNumber
                            </p>
                            <input class="form-control" placeholder="" type="text">
                        </div>
                        <div class="col-lg-6">
                            <p class="mg-b-10">
                                VatNumber
                            </p>
                            <input class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-lg-6">
                            <p class="mg-b-10">
                                NationalID
                            </p>
                            <input class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-lg-4 col-12">
                            <p class="mg-b-10">
                                Country <span class="text-danger">*</span>
                            </p>

                            <select id="Country" class="form-control select2">
                                <option value="" disabled selected>Select Country</option>
                                <option value="sa">Saudi Arabia</option>
                                <option value="eg">Egypt</option>
                                <option value="uae">United Arab Emirates</option>
                                <option value="kw">Kuwait</option>
                                <option value="qa">Qatar</option>
                            </select>
                        </div>

                        <div class="col-lg-4 col-12">
                            <p class="mg-b-10">
                                City <sapn class="text-danger">*</sapn>
                            </p>
                            <input class="form-control" placeholder="" type="email">
                        </div>
                        <div class="col-lg-4 col-12">
                            <p class="mg-b-10">
                                Neighborhood
                            </p>
                            <input class="form-control" placeholder="" type="email">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12">
                            <p class="mg-b-10">
                                Street Name
                            </p>
                            <input class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-lg-6 col-12">
                            <p class="mg-b-10">
                                Credit Limit (SAR)
                            </p>
                            <input class="form-control" placeholder="" type="text">
                        </div>
                        <div class="col-lg-6 col-12">
                            <p class="mg-b-10">
                                Credit Period (Days)
                            </p>
                            <input class="form-control" placeholder="" type="text">
                        </div>
                    </div>
                </div>
                <div class="card-footer">

                    <button class="btn btn-sm btn-success">
                        <i class="fas fa-save"></i> <span class="px-1">Save</span>
                    </button>

                    <a class="btn btn-sm btn-outline-danger mx-2" href="/sales/customers">
                        <i class="fas fa-ban"></i> <span class="px-1">Cancel</span>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="card w-100">
                <div class="card-header">
                    Account Data
                </div>
                <div class="card-body">
                    <div class="row py-2">
                        <div class="col-lg-6 col-12">
                            <p class="mg-b-10">
                                Invoicing Method
                            </p>

                            <select class="form-control select2">
                                <option value="" disabled selected>Select Invoicing Method</option>
                                <option value="per_hour">Per Hour</option>
                                <option value="per_project">Per Project</option>
                                <option value="per_task">Per Task</option>
                                <option value="subscription">Subscription / Monthly</option>
                                <option value="milestones">By Milestones</option>
                            </select>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p class="mg-b-10">
                                Opening Balance 
                            </p>
                            <input class="form-control" placeholder="" type="number">
                        </div>
                    </div>
                    
                    <div class="row py-2">
                        <div class="col-lg-6 col-12">
                            <p class="mg-b-10">
                                Opening Balance Date
                                
                            </p>
                            <input type="date" class="form-control valid" id="ReceiveDate" name="ReceiveDate" value="2025-11-24" aria-describedby="ReceiveDate-error" aria-invalid="false"><input name="__Invariant" type="hidden" value="ReceiveDate">
                            <span class="text-danger field-validation-valid" data-valmsg-for="ReceiveDate" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12">
                            <label for="notes">Notes </label>
                            <textarea id="notes" rows="3" class="form-control" placeholder="Notes" style="height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>

