<div class="card-header py-3">
    <div class="card py-3">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2>
                        ProjectsManagement
                    </h2>
                    <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                        <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                        <li class="text-black">/</li>
                        <li class="text-black">Sales</li>
                        <li class="text-black">/</li>
                        <li class="text-black">
                            ProjectsManagement
                        </li>
                    </ul>

                </div>
                <div class="d-flex gap-2">
                    @* <button class="btn btn-primary btn-block rounded-2" data-bs-toggle="modal" data-bs-target="#newSampleModal">
                        <i class="fas fa-plus px-1"></i>
                        Add New Control Chart
                    </button> *@
                    <li class="nav-sub-item btn btn-primary btn-block rounded-2">
                        <a asp-controller="Sales" asp-action="AddProjects" class="nav-sub-link text-black">
                            <i class="fas fa-plus px-1"></i>
                            Add Projects
                        </a>
                    </li>
                    <li class="nav-sub-item btn btn-success btn-block rounded-2">
                        <a asp-controller="LabManagement" asp-action="AdvancedFilter" class="nav-sub-link text-black">
                            <i class="fa fas fa-filter"></i>
                            Advanced Filter
                        </a>
                    </li>
                </div>
            </div>
            <div class="col-12">
                <div class="card my-3">
                    <div class="p-3">
                        <div class="table-responsive">
                            <table id="example2" class="text-center table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Customer</th>
                                        <th>Country</th>
                                        <th>City</th>
                                        <th>Site Name</th>
                                        <th>Location</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>CUST-554</td>
                                        <td>Mohamed Hassan</td>
                                        <td>Delta Water Co.</td>
                                        <td>Egypt</td>
                                        <td>Cairo</td>
                                        <td>Main Reservoir</td>
                                        <td>North Gate</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    <script>

               $('#newSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#newSampleModal')
            });

            // Fix input mask
            $('#dateMask').mask('99/99/9999');
        });

         $('#secondSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#secondSampleModal')
            });

             // Fix input mask


             });





    </script>
}



