<div class="card-header py-3">
    <div class="card py-3">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2>
                        Products And Services
                    </h2>
                    <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                        <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black">Home</a></li>
                        <li class="text-black">/</li>
                        <li class="text-black">
                            Products And Services
                        </li>
                    </ul>

                </div>
                <div class="d-flex gap-2">
                    <li class="nav-sub-item btn btn-primary btn-block rounded-2">
                        <a asp-controller="Inventory" asp-action="addedit" class="nav-sub-link text-white">
                            <i class="fas fa-plus px-1"></i>
                            Add Products
                        </a>
                    </li>
                    <button class="btn btn-gray-700 btn-block rounded-2">
                        <i class="fa fas fa-bolt"></i>
                        Reload
                    </button>
                    <li class="nav-sub-item btn btn-success btn-block rounded-2">
                        <a asp-controller="Inventory" asp-action="AdvancedInventoryFilter" class="nav-sub-link text-black">
                            <i class="fa fas fa-filter"></i>
                            Advanced Filter
                        </a>
                    </li>
                </div>
            </div>
            <div class="col-12">
                <div class="card my-3">
                    <div class="p-3">
                        <div class="table-responsive">
                            <table id="example2" class="text-center table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Image</th>
                                        <th>Category</th>
                                        <th>Brand</th>
                                        <th>QuantityInStock</th>
                                        <th>Price</th>
                                        <th>Price After Discount</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Glass Ampoule 100ml	</td>
                                        <td>Glass Ampoule 100ml	</td>
                                        <td>NoImage</td>
                                        <td>Containers</td>
                                        <td>NoParentBrand</td>
                                        <td>NoQuantityInStock</td>
                                        <td>250 EGP</td>
                                        <td>
                                            NoDiscount
                                        </td>
                                        <td><button class="btn btn-az-primary btn-block rounded-2"><i class="fas fa-edit "></i> Edit</button></td>
                                        <td>
                                            <button class="btn btn-danger btn-block rounded-2"> <i class="fas fa-trash-alt"></i> Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Plastic Ampoule 50ml</td>
                                        <td>Plastic Ampoule 50ml</td>
                                        <td>NoImage	</td>
                                        <td>Containers</td>
                                        <td>NoParentBrand	</td>
                                        <td>NoQuantityInStock</td>
                                        <td>250 EGP</td>
                                        <td>NoDiscount</td>
                                        <td><button class="btn btn-az-primary btn-block rounded-2"><i class="fas fa-edit "></i> Edit</button></td>
                                        <td>
                                            <button class="btn btn-danger btn-block rounded-2"> <i class="fas fa-trash-alt"></i> Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    <script>

               $('#newSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#newSampleModal')
            });

            // Fix input mask
            $('#dateMask').mask('99/99/9999');
        });

         $('#secondSampleModal').on('shown.bs.modal', function () {
            // Fix select2 with modal
            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                dropdownParent: $('#secondSampleModal')
            });

             // Fix input mask


             });





    </script>
}




