<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - limsDashbord</title>
    @* <link href="~/web/lib/fontawesome-free/css/all.min.css" rel="stylesheet"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.min.css" integrity="sha512-1MnDtyeTdty8j5fL/qDGB0Q2akuH88v1wA9QO9CRZlKUBY10Ch++Yle1XUjNE2vleqvhIPb9MxLrktY+qLyDng==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/web/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="~/web/lib/morris.js/morris.css" rel="stylesheet">
    <link href="~/web/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/web/lib/jqvmap/jqvmap.min.css" rel="stylesheet">
    <link href="~/web/lib/spectrum-colorpicker/spectrum.css" rel="stylesheet">
    <link href="~/web/lib/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">
    <link href="~/web/lib/jquery-simple-datetimepicker/jquery.simple-dtpicker.css" rel="stylesheet">
    <link href="~/web/lib/pickerjs/picker.min.css" rel="stylesheet">
    <link href="~/web/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/web/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.css" rel="stylesheet">
    <link href="~/web/lib/select2/css/select2.min.css" rel="stylesheet">
    <!-- azia CSS -->
    <link rel="stylesheet" href="~/web/css/azia.css">

</head>
<body class="az-body az-body-sidebar">
    <div class="az-sidebar">
        <div class="az-sidebar-header">
            <a href="index.html" class="az-logo">az<span>i</span>a</a>
        </div><!-- az-sidebar-header -->
        <div class="az-sidebar-loggedin">
            <div class="az-img-user online"><img src="~/web/img/faces/face1.jpg" alt=""></div>
            <div class="media-body">
                <h6>Aziana Pechon</h6>
                <span>Premium Member</span>
            </div><!-- media-body -->
        </div><!-- az-sidebar-loggedin -->
        <div class="az-sidebar-body">
            <ul class="nav">
                <li class="nav-label">Main Menu</li>
                <li class="nav-item ">
                    <a asp-action="index" asp-controller="home" class="nav-link with-sub"><i class="typcn typcn-clipboard"></i>Dashboard</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link">Dashboard</a></li>
                        </ul>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-document"></i>Lab Management</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="labmanagement" asp-action="samples" class="nav-sub-link">Sample</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="labmanagement" asp-action="WorkOrders" class="nav-sub-link">Work Orders</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="labmanagement" asp-action="SamplingOrders" class="nav-sub-link">Sampling Orders</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="labmanagement" asp-action="TestTypes" class="nav-sub-link">Test Types</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="labmanagement" asp-action="Equipment" class="nav-sub-link">Equipment</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="labmanagement" asp-action="ResultReports" class="nav-sub-link">Result Reports</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="labmanagement" asp-action="WorkFlowsRequests" class="nav-sub-link">Work Flows Requests</a>
                        </li>

                    </ul>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-book"></i>Quality</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="Quality" asp-action="Sop" class="nav-sub-link">Sop</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Quality" asp-action="ControlCharts" class="nav-sub-link">Control Charts</a>
                        </li>
                       
                    </ul>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-edit"></i>Sales</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="Sales" asp-action="Requests" class="nav-sub-link">Requests</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Sales" asp-action="SalesOrders" class="nav-sub-link">Sales Orders</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Sales" asp-action="Invoices" class="nav-sub-link">Invoices</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Sales" asp-action="Customers" class="nav-sub-link">Customers</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Sales" asp-action="Projects" class="nav-sub-link">Projects</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Sales" asp-action="CustomerPayments" class="nav-sub-link">Customer Payments</a>
                        </li>
                    </ul>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-chart-bar-outline"></i>Inventory</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="Inventory" asp-action="Products" class="nav-sub-link">Products</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Inventory" asp-action="Requisitions" class="nav-sub-link">Requisitions</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Inventory" asp-action="Warehouses" class="nav-sub-link">Warehouses</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Inventory" asp-action="ProductSettings" class="nav-sub-link">Product Settings</a>
                        </li>
                    </ul>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-map"></i>Purchases</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="Purchases" asp-action="PurchaseInvoices" class="nav-sub-link">Purchase Invoices</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Purchases" asp-action="Suppliers" class="nav-sub-link">Suppliers</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Purchases" asp-action="SupplierPayments" class="nav-sub-link">Supplier Payments</a>
                        </li>
                    </ul>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-tabs-outline"></i>Finance</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="Finance" asp-action="Expenses" class="nav-sub-link">Expenses</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Finance" asp-action="Incomes" class="nav-sub-link">Incomes</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Finance" asp-action="TreasuriesBankAccounts" class="nav-sub-link">Treasuries - Bank Accounts</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Finance" asp-action="Finance Settings" class="nav-sub-link">Finance Settings</a>
                        </li>
                    </ul>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-archive"></i>General Ledger</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralLedger" asp-action="JournalEntries" class="nav-sub-link">Journal Entries</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralLedger" asp-action="AddJournalEntry" class="nav-sub-link">Add Journal Entry</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralLedger" asp-action="ChartofAccounts" class="nav-sub-link">Chart of Accounts</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralLedger" asp-action="Assets" class="nav-sub-link">Assets</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralLedger" asp-action="GeneralLedgerSettings" class="nav-sub-link">General Ledger Settings</a>
                        </li>
                    </ul>
                </li><!-- nav-item -->
                <!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-document"></i>Reports</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="Reports" asp-action="SalesReports" class="nav-sub-link">Sales Reports</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Reports" asp-action="PurchaseReports" class="nav-sub-link">Purchase Reports</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Reports" asp-action="GeneralLedgerReports" class="nav-sub-link">General Ledger Reports</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Reports" asp-action="CustomerReports" class="nav-sub-link">Customer Reports</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Reports" asp-action="InventoryReports" class="nav-sub-link">Inventory Reports</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="Reports" asp-action="AccountActivityLog" class="nav-sub-link">Account Activity Log</a>
                        </li>
                    </ul>
                    <!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-book"></i>Users Settings</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="UsersSettings" asp-action="Users" class="nav-sub-link">Users</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="UsersSettings" asp-action="GroupsRoles" class="nav-sub-link">Groups/Roles</a>
                        </li>
                    </ul>
                </li>
                <!-- nav-item -->
                <li class="nav-item">
                    <a href="#" class="nav-link with-sub"><i class="typcn typcn-edit"></i>General Settings</a>
                    <ul class="nav-sub">
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="AdminData" class="nav-sub-link">Admin Data</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="Resources" class="nav-sub-link">Resources</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="NotificationProvider" class="nav-sub-link">Notification Provider</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="Sliders" class="nav-sub-link">Sliders</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="SiteSettings" class="nav-sub-link">Site Settings</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="LookupTypes" class="nav-sub-link">Lookup Types</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="CustomForms" class="nav-sub-link">CustomForms</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="WorkFlows" class="nav-sub-link">WorkFlows</a>
                        </li>
                        <li class="nav-sub-item">
                            <a asp-controller="GeneralSettings" asp-action="Countries" class="nav-sub-link">Countries</a>
                        </li>
                    </ul>
                </li>
            </ul><!-- nav -->
        </div><!-- az-sidebar-body -->
    </div><!-- az-sidebar -->

    <div class="az-content az-content-dashboard-two">
        <div class="az-header">
            <div class="container-fluid">
                <div class="az-header-left">
                    <a href="#" id="azSidebarToggle" class="az-header-menu-icon"><span></span></a>
                </div><!-- az-header-left -->
                <div class="az-header-center">
                    <input type="search" class="form-control" placeholder="Search for anything~/web.">
                    <button class="btn"><i class="fas fa-search"></i></button>
                </div><!-- az-header-center -->
                <div class="az-header-right">
                    <div class="az-header-message">
                        <a href="app-chat.html"><i class="typcn typcn-messages"></i></a>
                    </div><!-- az-header-message -->
                    <div class="dropdown az-header-notification">
                        <a href="#" class="new"><i class="typcn typcn-bell"></i></a>
                        <div class="dropdown-menu">
                            <div class="az-dropdown-header mg-b-20 d-sm-none">
                                <a href="#" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                            </div>
                            <h6 class="az-notification-title">Notifications</h6>
                            <p class="az-notification-text">You have 2 unread notification</p>
                            <div class="az-notification-list">
                                <div class="media new">
                                    <div class="az-img-user"><img src="~/web/img/faces/face2.jpg" alt=""></div>
                                    <div class="media-body">
                                        <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                                        <span>Mar 15 12:32pm</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media new">
                                    <div class="az-img-user online"><img src="~/web/img/faces/face3.jpg" alt=""></div>
                                    <div class="media-body">
                                        <p><strong>Joyce Chua</strong> just created a new blog post</p>
                                        <span>Mar 13 04:16am</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media">
                                    <div class="az-img-user"><img src="~/web/img/faces/face4.jpg" alt=""></div>
                                    <div class="media-body">
                                        <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                                        <span>Mar 13 02:56am</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media">
                                    <div class="az-img-user"><img src="~/web/img/faces/face5.jpg" alt=""></div>
                                    <div class="media-body">
                                        <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                                        <span>Mar 12 10:40pm</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                            </div><!-- az-notification-list -->
                            <div class="dropdown-footer"><a href="#">View All Notifications</a></div>
                        </div><!-- dropdown-menu -->
                    </div><!-- az-header-notification -->
                    <div class="dropdown az-profile-menu">
                        <a href="#" class="az-img-user"><img src="~/web/img/faces/face1.jpg" alt=""></a>
                        <div class="dropdown-menu">
                            <div class="az-dropdown-header d-sm-none">
                                <a href="#" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                            </div>
                            <div class="az-header-profile">
                                <div class="az-img-user">
                                    <img src="~/web/img/faces/face1.jpg" alt="">
                                </div><!-- az-img-user -->
                                <h6>Aziana Pechon</h6>
                                <span>Premium Member</span>
                            </div><!-- az-header-profile -->

                            <a href="#" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                            <a href="#" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
                            <a href="#" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
                            <a href="#" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
                            <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
                        </div><!-- dropdown-menu -->
                    </div>
                </div><!-- az-header-right -->
            </div><!-- container -->
        </div><!-- az-header -->
            @RenderBody()
    <div class="az-footer ht-40">
        <div class="container-fluid pd-t-0-f ht-100p">
            <span>&copy; 2025 Azia Responsive Bootstrap 5 Dashboard Template</span>
        </div><!-- container -->
    </div><!-- az-footer -->
    </div><!-- az-content -->
    <script src="~/web/lib/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="~/web/lib/bootstrap/js/bootstrap.min.js"></script>
    @* <script src="~/web/lib/ionicons/ionicons.js"></script> *@
    <script src="~/web/lib/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/web/lib/raphael/raphael.min.js"></script>
    <script src="~/web/lib/morris.js/morris.min.js"></script>
    <script src="~/web/lib/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/web/lib/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/web/lib/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="~/web/lib/pickerjs/picker.min.js"></script>

    <script src="~/web/lib/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/web/lib/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>
    <script src="~/web/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/web/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/web/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/web/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/web/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="~/web/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script src="~/web/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.js"></script>
    <script src="~/web/js/azia.js"></script>
   
   
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script>
        
           $(function(){
          'use strict'
                $('.fc-datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true
        });

                  $(document).ready(function() {
          $('#summernote').summernote({
              height:200,
          });
        });

                $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
            });
            $('#dateMask').mask('99/99/9999');





         $('#example2').DataTable({
         
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });
        $('#example3').DataTable({
         
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });
        $('#example4').DataTable({
         
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });
        $('#example5').DataTable({
          
           language: {
             searchPlaceholder: 'Search...',
             sSearch: '',
             lengthMenu: '_MENU_ items/page',
           }
         });
          $('.az-sidebar .with-sub').on('click', function(e){
            e.preventDefault();
            $(this).parent().toggleClass('show');
            $(this).parent().siblings().removeClass('show');
          })

          $(document).on('click touchstart', function(e){
            e.stopPropagation();

            // closing of sidebar menu when clicking outside of it
            if(!$(e.target).closest('.az-header-menu-icon').length) {
              var sidebarTarg = $(e.target).closest('.az-sidebar').length;
              if(!sidebarTarg) {
                $('body').removeClass('az-sidebar-show');
              }
            }
          });


          $('#azSidebarToggle').on('click', function(e){
            e.preventDefault();

            if(window.matchMedia('(min-width: 992px)').matches) {
              $('body').toggleClass('az-sidebar-hide');
            } else {
              $('body').toggleClass('az-sidebar-show');
            }
          })

          /* ----------------------------------- */
          /* Dashboard content */

          $('#compositeline').sparkline('html', {
            lineColor: '#cecece',
            lineWidth: 2,
            spotColor: false,
            minSpotColor: false,
            maxSpotColor: false,
            highlightSpotColor: null,
            highlightLineColor: null,
            fillColor: '#f9f9f9',
            chartRangeMin: 0,
            chartRangeMax: 10,
            width: '100%',
            height: 20,
            disableTooltips: true
          });

          $('#compositeline2').sparkline('html', {
            lineColor: '#cecece',
            lineWidth: 2,
            spotColor: false,
            minSpotColor: false,
            maxSpotColor: false,
            highlightSpotColor: null,
            highlightLineColor: null,
            fillColor: '#f9f9f9',
            chartRangeMin: 0,
            chartRangeMax: 10,
            width: '100%',
            height: 20,
            disableTooltips: true
          });

          $('#compositeline3').sparkline('html', {
            lineColor: '#cecece',
            lineWidth: 2,
            spotColor: false,
            minSpotColor: false,
            maxSpotColor: false,
            highlightSpotColor: null,
            highlightLineColor: null,
            fillColor: '#f9f9f9',
            chartRangeMin: 0,
            chartRangeMax: 10,
            width: '100%',
            height: 20,
            disableTooltips: true
          });

          $('#compositeline4').sparkline('html', {
            lineColor: '#cecece',
            lineWidth: 2,
            spotColor: false,
            minSpotColor: false,
            maxSpotColor: false,
            highlightSpotColor: null,
            highlightLineColor: null,
            fillColor: '#f9f9f9',
            chartRangeMin: 0,
            chartRangeMax: 10,
            width: '100%',
            height: 20,
            disableTooltips: true
          });


          var morrisData = [
            { y: 'Oct 01', a: 95000, b: 70000 },
            { y: 'Oct 05', a: 75000,  b: 55000 },
            { y: 'Oct 10', a: 50000,  b: 40000 },
            { y: 'Oct 15', a: 75000,  b: 65000 },
            { y: 'Oct 20', a: 50000,  b: 40000 },
            { y: 'Oct 25', a: 80000, b: 90000 },
            { y: 'Oct 30', a: 75000,  b: 65000 }
          ];

          new Morris.Bar({
            element: 'morrisBar1',
            data: morrisData,
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Online', 'Offline'],
            barColors: ['#560bd0', '#00cccc'],
            preUnits: '$',
            barSizeRatio: 0.55,
            gridTextSize: 11,
            gridTextColor: '#494c57',
            gridTextWeight: 'bold',
            gridLineColor: '#999',
            gridStrokeWidth: 0.25,
            hideHover: 'auto',
            resize: true,
            padding: 5
          });

          $('#vmap2').vectorMap({
            map: 'usa_en',
            showTooltip: true,
            backgroundColor: '#fff',
            color: '#60adff',
            colors: {
              mo: '#9fceff',
              fl: '#60adff',
              or: '#409cff',
              ca: '#005cbf',
              tx: '#005cbf',
              wy: '#005cbf',
              ny: '#007bff'
            },
            hoverColor: '#222',
            enableZoom: false,
            borderWidth: 1,
            borderColor: '#fff',
            hoverOpacity: .85
          });

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
