
    <div class="card w-100 py-3 border-0">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h2>
                        Add or Edit Lookup Type
                    </h2>
                    <div class="d-flex gap-2 pt-3">
                        @* <button class="btn btn-primary btn-block btn-sm rounded-2" data-toggle="modal" data-target="#addRoleModal">
                            <i class="fas fa-plus px-1"></i>
                            Add List
                        </button> *@
                    </div>
                </div>
                <ul class="nav-sub d-flex align-items-center gap-2 m-0 p-0">
                    <li class="nav-sub-item"><a asp-action="index" asp-controller="home" class="nav-sub-link text-black"><i class="fa fa-home"></i></a></li>
                    <li class="text-black">/</li>
                    <li class="text-black">
                        Resource
                    </li>
                    <li class="text-black">/</li>
                    <li class="text-black">
                        Edit
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="card">
                        <div class="card-header gap-2">
                            <a asp-controller="GeneralSettings" asp-action="LookupTypes" class="btn btn-success btn-sm btn-block rounded-2 text-white">Back to list</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <label for="key" class="mg-b-10">
                                        Key
                                    </label>
                                    <input id="key" class="form-control" placeholder="" type="text">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <label for="Gender" class="mg-b-10">
                                        Type
                                    </label>
                                    <select id="Gender" name="Gender" class="form-control select2">
                                        <option value="" disabled selected>Select Gender</option>
                                        <option value="Text">Text</option>
                                        <option value="Text Area">Text Area</option>
                                        <option value="Image">Image</option>
                                        <option value="Number">Number</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-start py-3 gap-2">
                            <button type="button" class="btn btn-indigo rounded-2">Save</button>
                            <button type="button" class="btn btn-outline-light rounded-2" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>







