@* <div class="az-content-header d-block d-md-flex">
    <div>
        <h2 class="az-content-title tx-24 mg-b-5 mg-b-lg-8">Hi, welcome back!</h2>
        <p class="mg-b-0">Your sales monitoring dashboard template.</p>
    </div>
    <div class="az-dashboard-header-right">
        <div>
            <label class="tx-13">Customer Ratings</label>
            <div class="az-star">
                <i class="typcn typcn-star active"></i>
                <i class="typcn typcn-star active"></i>
                <i class="typcn typcn-star active"></i>
                <i class="typcn typcn-star active"></i>
                <i class="typcn typcn-star"></i>
                <span>(12,775)</span>
            </div>
        </div>
       
    </div><!-- az-dashboard-header-right -->
</div><!-- az-content-header --> *@
    <div class="card-header py-3">
        <div class="card p-3">
            <div class="row">
                <div class="col-lg-6 mg-t-20 mg-lg-t-0">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for Invoices">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div><!-- input-group -->
                </div>
                <div class="col-lg-6 mg-t-20 mg-lg-t-0">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for Customers">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div><!-- input-group -->
                </div>
            </div>
        </div>
    </div>



<div class="az-content-body">
    <div class="card card-dashboard-seven">
        <div class="card-header">
            
            <div class="row row-sm">
                <div class="col-6 col-md-4 col-xl">
                    <div class="media">
                        <div><i class="icon ion-ios-calendar"></i></div>
                        <div class="media-body">
                            <span>Sales Requests</span>
                            @* <div class="date">
                                <span>Sept 01, 2018</span> <a href="#"><i class="icon ion-md-arrow-dropdown"></i></a>
                            </div> *@
                        </div>
                    </div><!-- media -->
                </div>
                <div class="col-6 col-md-4 col-xl">
                    <div class="media">
                        <div><i class="icon ion-ios-calendar"></i></div>
                        <div class="media-body">
                            <span>Create Sales Order</span>
                            @* <div class="date">
                                <span>Sept 30, 2018</span> <a href="#"><i class="icon ion-md-arrow-dropdown"></i></a>
                            </div> *@
                        </div>
                    </div><!-- media -->
                </div>
                <div class="col-6 col-md-4 col-xl mg-t-15 mg-md-t-0">
                    <div class="media">
                        <div><i class="icon ion-logo-usd"></i></div>
                        <div class="media-body">
                            <span>Purchases</span>
                            @* <div class="date">
                                <span>Revenue</span> <a href="#"><i class="icon ion-md-arrow-dropdown"></i></a>
                            </div> *@
                        </div>
                    </div><!-- media -->
                </div>
                <div class="col-6 col-md-4 col-xl mg-t-15 mg-xl-t-0">
                    <div class="media">
                        <div><i class="icon ion-md-person"></i></div>
                        <div class="media-body">
                            <span>Invoices</span>
                            @* <div class="date">
                                <span>All Customers</span> <a href="#"><i class="icon ion-md-arrow-dropdown"></i></a>
                            </div> *@
                        </div>
                    </div><!-- media -->
                </div>
                <div class="col-md-4 col-xl mg-t-15 mg-xl-t-0">
                    <div class="media">
                        <div><i class="icon ion-md-stats"></i></div>
                        <div class="media-body">
                            <span>Clients</span>
                            @* <div class="date">
                                <span>All Transactions</span> <a href="#"><i class="icon ion-md-arrow-dropdown"></i></a>
                            </div> *@
                        </div>
                    </div><!-- media -->
                </div>
            </div><!-- row -->
        </div><!-- card-header -->
        <div class="card-body">
            <div class="row row-sm">
                <div class="col-6 col-lg-3">
                    <label class="az-content-label">
                        Employees

                    </label>
                    <h2>2</h2>
                  
                   
                </div><!-- col -->
                <div class="col-6 col-lg-3">
                    <label class="az-content-label">
                        Samples

                    </label>
                    <h2>0</h2>
                  
                   
                </div><!-- col -->
                <div class="col-6 col-lg-3 mg-t-20 mg-lg-t-0">
                    <label class="az-content-label">
                        Clients

                    </label>
                    <h2>3</h2>
                    
                   
                </div><!-- col -->
                <div class="col-6 col-lg-3 mg-t-20 mg-lg-t-0">
                    <label class="az-content-label">
                        Work Orders

                    </label>
                    <h2>0</h2>
                  
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- card-body -->
    </div><!-- card -->
    <div class="card">
        <div class="row p-3">
            <div class="col-lg-6 col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control fc-datepicker" placeholder="MM/DD/YYYY">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control fc-datepicker" placeholder="MM/DD/YYYY">
                </div>
            </div>
        </div>

    </div>
    <div class="card py-3">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <p>Samples</p>
                <div class="d-flex gap-3">
                    <button class="btn btn-primary btn-block">New Samples</button>
                    <button class="btn btn-secondary btn-block">In Progress Samples</button>
                    <button class="btn btn-success btn-block">Completed Samples</button>
                </div>
            </div>
            <div class="py-3">
                <div class="table-responsive">
                    <table id="example2" class="text-center table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Sample Type</th>
                                <th>Client</th>
                                <th>Project</th>
                                <th>Received Date</th>
                                <th>Parameters</th>
                                <th>Status</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>115</td>
                                <td>2365</td>
                                <td>Ahmed</td>
                                <td>Web</td>
                                <td>21/3/2026</td>
                                <td>10</td>
                                <td><span class="badge badge-danger">Pending</span></td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="card py-3">
        <div class="p-3">
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Latest Work Orders
                </p>
               
            </div>
            <div class="py-3">
                <div class="table-responsive">
                    <table id="example3" class="table text-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Sample</th>
                                <th>Technician</th>
                                <th>Parameters</th>
                                <th>Status</th>
                                <th>Assign Date</th>
                                <th>Due Date</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td>15</td>
                                <td>17</td>
                                <td>Adel</td>
                                <td>105</td>
                                <td><span class="badge badge-primary">In Progress</span></td>
                                <td>15/10/2025</td>
                                <td>20/11/2025</td>
                                <td>15/5/2025</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-sm mg-b-20 mg-lg-b-0 py-3">
        <div class="col-md-6 col-xl-6 mg-t-20 mg-md-t-0">
            <div class="card card-dashboard-eight">
                <h6 class="card-title">
                    Latest Sampling Orders
                </h6>
                <div class="py-3">
                    <div class="table-responsive">
                        <table id="example4" class="text-center table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Project</th>
                                    <th>Technician</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td>15</td>
                                    <td>Project 1</td>
                                    <td>Mohamed</td>
                                    <td>105</td>
                                    <td><span class="badge badge-success">Completed</span></td>
                                    <td>15/3/2025</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>15</td>
                                    <td>Project 2</td>
                                    <td>Ali</td>
                                    <td>105</td>
                                    <td><span class="badge badge-secondary">Rejected</span></td>
                                    <td>17/4/2025</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!-- col -->
        </div><!-- row -->
        <div class="col-md-6 col-xl-6 mg-t-20 mg-md-t-0">
            <div class="card card-dashboard-eight">
                <h6 class="card-title">
                    Latest Sales Orders
                </h6>
                <div class="py-3">
                    <div class="table-responsive">
                        <table id="example5" class="text-center table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Customer</th>
                                    <th>Project</th>
                                    <th>Samples</th>
                                    <th>Status</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1023</td>
                                    <td>Website Design</td>
                                    <td>Ahmed Ali</td>
                                    <td>Marketing</td>
                                    <td>12</td>
                                    <td><span class="badge badge-success">Completed</span></td>
                                    <td>2024-05-10</td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>1147</td>
                                    <td>Mobile App UI</td>
                                    <td>Sara Hassan</td>
                                    <td>App</td>
                                    <td>30</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                    <td>2024-06-02</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

        </div><!-- col -->
    </div><!-- row -->
</div>


<script>
   

</script>